
<ion-content>
  <ion-slides [options] ="options" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/images/wallet.png">
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Leather Wallet</p>
  <p class="normal">Php 125.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Structure: 9 card slots and 2 cash slots inside, 2 card slots outside</li>
  <li>Size description(Dimension deviation:1-5mm) L:11.5cm, W:7-7.5cm, Thickness:2.5cm</li>
  <li>Item Weight: 125G</li>
  <li>Style: Casual</li>
  <li>Material Composition: PU</li>
</div>

</ion-content>