
<ion-content>
  <ion-slides [options] ="options" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/images/mask.png">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/images/mask2.png">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Face Mask</p>
  <p class="normal">Php 70.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Folding thin section, lightweight and easy to use</li>
  <li>High elastic rubber band, absorb sweat and not tight</li>
  <li>Made of high quality material, safe, soft and comfortable</li>
  <li>Non-washable</li>
  <li>Gender: Unisex</li>
</div>

</ion-content>