
<ion-content>
  <img class="pic" src="./assets/images/barong.jpg" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="cart()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Barong</p>
  <p class="normal">from Php 350.00</p>
  <p class="availability">Limited Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Official BatStateU Men's Uniform</li>
  <li>Available in different sizes</li>
  <li>Sizes: 18, Small, Medium, Large, XL, 2XL, 3XL-5XL, Special Size</li>
  <li>Price depends on the size.</li>
</div>

</ion-content>