
<ion-content>
  <img class="pic" src="./assets/images/cap.png" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Baseball Cap</p>
  <p class="normal">Php 100.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Adjustable</li>
  <li>Made of cotton, cotton blends, jersey mesh, wool, acrylic/wool blends, and moisture wicking fabrics.</li>
  <li>Reinforced stitching Eyelets</li>
  <li>Six panels</li>
</div>

</ion-content>