<ion-content [fullscreen]="true">

  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<div class="welcome-text">
  <center><img src="./assets/images/logo.png" class="pic"/></center>
  <p class="name">About</p>
  <p class="uni-shop">University Shop</p>
  <p class="description">Batangas State University, as a university who focuses on providing academic excellence, the needs for the better equipment and supplies are emerging, specifically the demands of each student on the campus. Additionally, because most of us are unable to freely get the aforementioned goods or equipment due to the pandemic's repression of the population, we will have to physically carry out of going to the shop, therefore a system that would facilitate doing so would be quite helpful.
  </p>
  <p class="name">The</p>
  <p class="uni-shop">Developers</p>
  <li class="description">Balitaan, Virginia Flor</li>
  <li class="description">Eleda, Louisse Laine</li>
  <li class="description">Ocampo, Edbert</li>
  <li class="description">Ramos, Jax Blaire Kristoffer</li>
  <li class="description">Tatlonghari, Ana Karl</li>
</div>

</ion-content>
