
<ion-content>
    <img class="pic" src="./assets/images/tumbler.png" style="width:100%">

  <div class="text">
    <center><p>SPARTAN TUMBLER</p>
    <p class="normal">₱ 200.00</p></center>
    </div>
  <div class="details">
    <center><p class="heading">Product Details:</p></center> 
    <li>20oz capacity</li>
    <li>Stainless steel outer with black polypropylene inner lining</li>
    <li>Keeps beverages hot or cold for up to 2-3 hours</li>
    <li>Decorative cork base</li>
    <li>Clear plastic push-on lid with sliding drink opening</li>

    <ion-button class="button" (click)="home()" color="success">Back to Home</ion-button>
    <ion-button class="button" (click)="home()" color="success">Add to Cart</ion-button>
  </div>

  
</ion-content>