
<ion-content>
  <img class="pic" src="./assets/images/pe.jpg" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>PE Pants</p>
  <p class="normal">Php 270.00</p>
  <p class="availability">Limited Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Official BatStateU PE Uniform</li>
  <li>Available in different sizes</li>
  <li>Sizes: 16, 20, 24, 26-30, 31-34, 36-38, 40, 42, Special Size</li>
  <li>Price depends on the size.</li>
</div>

</ion-content>