
<ion-content [fullscreen]="true">
  <div id="header">
    <center><p id="head">A C C O U N T</p></center>
    <img src="./assets/images/ad.jpg" class="ad"/>
    <ion-button id="about" color="light" (click)="openabout()">?</ion-button>
  </div>
  <ion-card>
    <ion-list class="avatar">
      <ion-item class="pic">
  <ion-avatar slot="start">
    <img src="./assets/images/profile.png">
  </ion-avatar>
  <ion-label class="name">
    <h4>BSU SHOP</h4>
    <h5>-</h5>
  </ion-label>
  </ion-item>
</ion-list>
</ion-card>
<ion-card class="orders">
<ion-item>
  <ion-label class="orlabel">Orders</ion-label>
  <ion-badge slot="end">2</ion-badge>
</ion-item>
</ion-card>
</ion-content>
