
<ion-content>
  <ion-slides [options] ="options" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/images/hat.png">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/images/hat2.png">
      </ion-card>
    </ion-slide>
    </ion-slides>
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Bucket Hat</p>
  <p class="normal">Php 110.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Black and white shell</li>
  <li>100% polyester</li>
  <li>Brim Depth: 6cm / 2.4in</li>
  <li>Circumference: 60cm / 23.6in</li>
  <li>Made in the Philippines</li>
</div>

</ion-content>