
<ion-content [fullscreen]="true">
  <div id="header">
    <center><p id="head">university shop</p></center>
    <img src="./assets/images/ad.jpg" class="ad"/>
    <ion-button id="about" color="light">?</ion-button>
  </div>
  
    <div class="welcome-text">
    <p class="name">Shop</p>
    <p class="uni-shop">Categories</p>
    <img src="./assets/images/category1.jpg" class="ad1" (click)="openmug()"/><br>
  <img src="./assets/images/category2.jpg" class="ad2" (click)="openmug()"/><br>
  <img src="./assets/images/category3.jpg" class="ad3" (click)="openmug()"/><br>
  <img src="./assets/images/category4.jpg" class="ad4" (click)="openmug()"/>

  </div>

  

</ion-content>
