
  
  
  @-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
  img {
    -webkit-animation:slide-in-blurred-top 0.8s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 0.8s cubic-bezier(.23,1.000,.32,1.000) both;
    padding-bottom: 0px;
    display: block;
  }

  @-webkit-keyframes scale-up-left{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%}}@keyframes scale-up-left{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%}}
  .welcome-text {
    -webkit-animation:scale-up-left .5s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-left .5s cubic-bezier(.39,.575,.565,1.000) both;
    font-family: 'aileron-heavy', sans-serif;
    font-size: 40px;
    font-weight:900;
    margin-top: 5%;
    margin-left: 5%;
    line-height: 15px;
  }

  .products {
    margin-top: 5%;
    width: 100%;
  }

  .pic {
    height: 120px;
    align-items: center;
  }

  ion-row {
    margin-right: 5%;
  }

  .welcome-text{
    margin-top: 57%;
    line-height: 1px;

    .name{
        font-family: Gilroy-Bold;
    }
    .uni-shop{
        font-family: Gilroy-Bold;
        color: darkred;
    }
  }

  #header{
    position: absolute;
    background-color:darkred;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 0px;
    width: 100%;
    height: 17%;
  }

  #head{
    font-family: 'aileron-heavy', sans-serif;
    font-size: 18px;
    color: white;
  }

  #about{
    position:absolute;
    top:5px;
    right: 10px;
    color:crimson;
    font-family: 'aileron-heavy', sans-serif;
    font-weight: 900;
  }

  @-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
  .ad{
    -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
    position: absolute;
    top: 50%;
    width: 90%;
    border-radius: 20px;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
