<ion-content [fullscreen]="true">

  <div id="header">
    <center><p id="head">university shop</p>
    <img src="./assets/images/ad.jpg" class="ad"/></center>
    <ion-button id="about" color="light">?</ion-button>
  </div>

  <div class="welcome-text">
    <p class="name">Best</p>
    <p class="uni-shop">Sellers</p>
  </div>

<div>
    <ion-row>
    <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openmug()">
    <ion-card-header>
      <img src="./assets/images/mug1.png" class="pic"/>
      <ion-card-subtitle>Php 150.00</ion-card-subtitle>
      <ion-card-title>Spartan Mug</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="opentumbler()">
    <ion-card-header>
      <img src="./assets/images/tumbler.png" class="pic"/>
      <ion-card-subtitle>Php 200.00</ion-card-subtitle>
      <ion-card-title>Spartan Tumbler</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="opencap()">
    <ion-card-header>
      <img src="./assets/images/cap.png" class="pic"/>
      <ion-card-subtitle>Php 100.00</ion-card-subtitle>
      <ion-card-title>Spartan Cap</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openhat()">
    <ion-card-header>
      <img src="./assets/images/hat.png" class="pic"/>
      <ion-card-subtitle>Php 110.00</ion-card-subtitle>
      <ion-card-title>Spartan Hat</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openhoodie()">
    <ion-card-header>
      <img src="./assets/images/hoodie.png" class="pic"/>
      <ion-card-subtitle>Php 300.00</ion-card-subtitle>
      <ion-card-title>Spartan Hoodie</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openmask()">
    <ion-card-header>
      <img src="./assets/images/mask.png" class="pic"/>
      <ion-card-subtitle>Php 70.00</ion-card-subtitle>
      <ion-card-title>Spartan Mask</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  </ion-row>

</div>

<div class="category">
    <p class="name">Student</p>
    <p class="uni-shop">Essentials</p>
  </div>

  <div>
    <ion-grid>
    <ion-row>
    <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openplanner()">
    <ion-card-header>
      <img src="./assets/images/planner.png" class="pic"/>
      <ion-card-subtitle>Php 190.00</ion-card-subtitle>
      <ion-card-title>Spartan Planner</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="opencalendar()">
    <ion-card-header>
      <img src="./assets/images/calendar.png" class="pic"/>
      <ion-card-subtitle>Php 250.00</ion-card-subtitle>
      <ion-card-title>Spartan Calendar</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openbutton()">
    <ion-card-header>
      <img src="./assets/images/button.png" class="pic"/>
      <ion-card-subtitle>Php 70.00</ion-card-subtitle>
      <ion-card-title>Spartan Button</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openpaperbag()">
    <ion-card-header>
      <img src="./assets/images/paperbag.png" class="pic"/>
      <ion-card-subtitle>Php 100.00</ion-card-subtitle>
      <ion-card-title>Spartan PaperBag</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openbackpack()">
    <ion-card-header>
      <img src="./assets/images/backpack.png" class="pic"/>
      <ion-card-subtitle>Php 250.00</ion-card-subtitle>
      <ion-card-title>Spartan Backpack</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="products">
      <ion-item (click)="openwallet()">
    <ion-card-header>
      <img src="./assets/images/wallet.png" class="pic"/>
      <ion-card-subtitle>Php 125.00</ion-card-subtitle>
      <ion-card-title>Spartan Wallet</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>

</div>

<div class="category">
  <p class="name">School</p>
  <p class="uni-shop">Uniforms</p>
</div>

<div>
  <ion-grid>
  <ion-row>
  <ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="openplanner()">
  <ion-card-header>
    <img src="./assets/images/barong.jpg" class="pic"/>
    <ion-card-subtitle>from Php 350.00</ion-card-subtitle>
    <ion-card-title>College Barong</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="opencalendar()">
  <ion-card-header>
    <img src="./assets/images/pants.jpg" class="pic"/>
    <ion-card-subtitle>from Php 356.00</ion-card-subtitle>
    <ion-card-title>College Pants</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="openbutton()">
  <ion-card-header>
    <img src="./assets/images/blouse.jpg" class="pic"/>
    <ion-card-subtitle>from Php 315.00</ion-card-subtitle>
    <ion-card-title>College Blouse</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="openpaperbag()">
  <ion-card-header>
    <img src="./assets/images/skirt.jpg" class="pic"/>
    <ion-card-subtitle>from Php 230.00</ion-card-subtitle>
    <ion-card-title>College Skirt</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="openbackpack()">
  <ion-card-header>
    <img src="./assets/images/pe.jpg" class="pic"/>
    <ion-card-subtitle>Php 175.00</ion-card-subtitle>
    <ion-card-title>PE Shirt</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
<ion-col size="6">
  <ion-card class="products">
    <ion-item (click)="openwallet()">
  <ion-card-header>
    <img src="./assets/images/pe.jpg" class="pic"/>
    <ion-card-subtitle>Php 270.00</ion-card-subtitle>
    <ion-card-title>PE Pants</ion-card-title>
 </ion-card-header></ion-item>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>

</div>

</ion-content>