<ion-content [fullscreen]="true">

  <div id="header">
    <center><p id="head">H O M E</p>
    <img src="./assets/images/ad.jpg" class="ad"/></center>
    <ion-button id="about" color="light">?</ion-button>
  </div>

  <div class="welcome-text">
    <p class="name">Our</p>
    <p class="uni-shop">Products</p>
  </div>

  <div class="new-releases">
    <ion-row>
    <ion-col>
    <ion-card class="products">
      <ion-item (click)="openmug()">
    <ion-card-header>
      <img src="./assets/images/mug1.png" class="pic"/>
      <ion-card-subtitle>Php 150.00</ion-card-subtitle>
      <ion-card-title>Spartan Mug</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  <ion-col>
    <ion-card class="products">
      <ion-item (click)="opentumbler()">
    <ion-card-header>
      <img src="./assets/images/tumbler.png" class="pic"/>
      <ion-card-subtitle>Php 200.00</ion-card-subtitle>
      <ion-card-title>Spartan Tumbler</ion-card-title>
   </ion-card-header></ion-item>
  </ion-card>
  </ion-col>
  </ion-row>
</div>