
<ion-content [fullscreen]="true">
  <div id="header">
    <center><p id="head">C A R T</p></center>
    <img src="./assets/images/ad.jpg" class="ad"/>
    <ion-button id="about" color="light">?</ion-button>
  </div>

  <ion-card class="div">
    <ion-list >
      <ion-item >
  <ion-avatar slot="start">
    <img src="./assets/images/mug1.png">
  </ion-avatar>
  <ion-label class="name">
    <ion-icon name="trash" class="trash"></ion-icon>
    <h4>Spartan Mug</h4>
    <h5>White, M</h5>
    <h5>Php 150.00</h5>
  </ion-label>
  </ion-item>
</ion-list>
  </ion-card>

  <ion-card>
    <ion-list >
      <ion-item >
  <ion-avatar slot="start">
    <img src="./assets/images/calendar.png">
  </ion-avatar>
  <ion-label class="name">
    <ion-icon name="trash" class="trash"></ion-icon>
    <h4> Spartan Calendar</h4>
    <h5></h5>
    <h5>Php 250.00</h5>
  </ion-label>
  </ion-item>
</ion-list>
  </ion-card>
</ion-content>
