
<ion-content [fullscreen]="true">
  <div id="header">
    <center><p id="head">C A R T</p></center>
    <img src="./assets/images/ad.jpg" class="ad"/>
    <ion-button id="about" color="light" (click)="openabout()">?</ion-button>
  </div>

  <ion-card class="div">
    <ion-list >
      <ion-item >
  <ion-avatar slot="start">
    <img src="./assets/images/mug1.png">
  </ion-avatar>
  <ion-label class="name">
    <ion-icon name="trash" class="trash"></ion-icon>
    <h4>Spartan Mug</h4>
    <ion-item>
    <ion-select placeholder="Choose Variation:" class="select">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
    </ion-select>
  </ion-item>
    <h5>Php 150.00</h5>
  </ion-label>
  </ion-item>
</ion-list>
  </ion-card>

  <ion-card>
    <ion-list >
      <ion-item >
  <ion-avatar slot="start">
    <img src="./assets/images/calendar.png">
  </ion-avatar>
  <ion-label class="name">
    <ion-icon name="trash" class="trash"></ion-icon>
    <h4> Spartan Calendar</h4>
    <h5></h5>
    <h5>Php 250.00</h5>
  </ion-label>
  </ion-item>
</ion-list>
  </ion-card>

  <ion-card class="total">
    <ion-label class="name">
    <p>Total</p>
    <h4 class="price">Php 400.00</h4>
  </ion-label>
  </ion-card>

  <ion-button color="red-color" (click)="presentAlert()">Place Reservation</ion-button>
</ion-content>
