
<ion-content>
  <img class="pic" src="./assets/images/button.png" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Button Pin</p>
  <p class="normal">Php 70.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Made of 5 pieces (Clasp Pin, Metal Back, Metal Shell, Paper Graphic, Clear Plastic Cover)</li>
  <li>Made of tin-plated steel</li>
  <li>The paper we use is a special ordered thin custom bright white paper with a matte finish specifically designed for superior color quality and brightness for inkjet printing.</li>
</div>

</ion-content>