
<ion-content>
  <img class="pic" src="./assets/images/hoodie.png" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="home()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Hoodie</p>
  <p class="normal">Php 300.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>8.5 oz mid/heavy weight</li>
  <li>Ultra Soft fleece lined</li>
  <li>80/20 cotton/polyester blend</li>
  <li>Comfortable to Wear</li>
  <li>Ribbed cuff and waistband</li>
</div>

</ion-content>