
<ion-content>
  <img class="pic" src="./assets/images/paperbag.png" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="cart()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Paper Bag</p>
  <p class="normal">Php 100.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>[75mm (l) x 140mm (w) x 215mm (h)]</li>
  <li>High elastic rubber band, absorb sweat and not tight</li>
  <li>120gsm kraft white / brown</li>
  <li>100, 200, 300, 400, 500, 1000, 2000,</li>
  <li>Print Side: 1 side</li>
  <li>Print Color: CMYK</li>
</div>

</ion-content>