<link href="https://www.dafontfree.net/embed/YWlsZXJvbi1oZWF2eS1yZWd1bGFyJmRhdGEvMTkxL2EvMTcyNTY0L2FpbGVyb24uaGVhdnkub3Rm" rel="stylesheet" type="text/css"/>
<style>
    
  ion-img {
    width: 170px;
    height: 170px;
    display: block;
    margin: auto;
    margin-top: 50%;
    border-radius: 25px !important;
    overflow: hidden;
}

  ion-content{
--ion-background-color: white;
}

 ion-button{
    width: 50%;
    height: 3em;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px !important;
    overflow: hidden;
    font-family: 'aileron-heavy', sans-serif;
    --ion-color-red-color: #bc2b3a;
  	--ion-color-red-color-rgb: 155,0,0;
  	--ion-color-red-color-contrast: #ffffff;
  	--ion-color-red-color-contrast-rgb: 255,255,255;
  	--ion-color-red-color-shade: #880000;
  	--ion-color-red-color-tint: #a51a1a;
    
}
.ion-color-red-color {
	--ion-color-base: var(--ion-color-red-color);
	--ion-color-base-rgb: var(--ion-color-red-color-rgb);
	--ion-color-contrast: var(--ion-color-red-color-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-color-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-color-shade);
	--ion-color-tint: var(--ion-color-red-color-tint);
}
</style>
<ion-header>
  <!--<ion-toolbar>
    <ion-title align="center">Welcome Page</ion-title>
  </ion-toolbar>-->
</ion-header> 

<ion-content>
  <ion-card-header>
    <ion-img src="./assets/images/logo.png"></ion-img>
  </ion-card-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-button color="red-color" expand="block">SHOP NOW</ion-button>
 


</ion-content>
