
<ion-content>
  <img class="pic" src="./assets/images/planner.png" style="width:100%">
  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-button class="cart" (click)="cart()" color="light"><ion-icon name="cart" id="carticon"></ion-icon></ion-button>

<div class="text">
  <p>Planner</p>
  <p class="normal">Php 190.00</p>
  <p class="availability">In Stock</p>
  </div>
<div class="details">
  <center><p class="heading">Product Details:</p></center> 
  <li>Product Material:  Paper + Leather soft cover+ Metal snap</li>
  <li>Product Size: 14x10.5cm(A6)</li>
  <li>Inner Pages: 144 Sheets / 288 Pages</li>
  <li>Weight: 250g</li>
  <li>Function of inner pages: Calendar, monthly planner, daily diary & check list</li>
</div>

</ion-content>