<ion-content [fullscreen]="true">

  <ion-button class="back" (click)="home()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<div class="welcome-text">
  
  <p class="name">My</p>
  <p class="uni-shop">Account</p>
</div>


<ion-card class="photo">
  <ion-card-header>
    <ion-card-subtitle>Photo</ion-card-subtitle>
    <ion-icon name="person" class="icon"></ion-icon>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Name</ion-card-subtitle>
    <ion-card-title>Juan Dela Cruz</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Username</ion-card-subtitle>
    <ion-card-title>@juanitooo</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Email</ion-card-subtitle>
    <ion-card-title>juandelacruz@gmail.com</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>
