@-webkit-keyframes scale-up-left{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%}}@keyframes scale-up-left{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%}}
  .welcome-text {
    -webkit-animation:scale-up-left .5s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-left .5s cubic-bezier(.39,.575,.565,1.000) both;
    font-family: 'aileron-heavy', sans-serif;
    font-size: 40px;
    font-weight:900;
    margin-top: 5%;
    margin-left: 5%;
    line-height: 15px;
    padding-bottom: 10%;
  }

  .welcome-text{
    margin-top: 25%;
    line-height: 1px;

    .name{
        font-family: Gilroy-Bold;
    }
    .uni-shop{
        font-family: Gilroy-Bold;
        color: darkred;
    }
  }

  .icon{
    font-size: 150px;
    margin-right: 5%;
    position: absolute;
    right: 0px;
  }

  .photo{
    height: 27%;
  }

  .back {
    z-index: 100;
    position:absolute;
    top: 10px;
    left: 10px;
  }


