*{
    margin: 0;
    padding: 0;
}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
h1 {
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  //  color: black;
}

h3{
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    color: #939fab;
    font-family: Gilroy-SemiBold;
    font-weight: 600;
}

form{
    margin-top: 6rem;

    app-button{
        display: block;
        margin-top: 3rem;
    }
}
img {
    padding-top: 0px;
    display: flex;
  }

  .footer-text{
    text-align: center;
    font-size: 17px;
    margin-top: 15%;
    margin-bottom: 3%;

    a{
        text-decoration: none;
        font-weight: 600;
        color: #9b0000;
    }
  }

